/* 메시지 리스트 스타일 */
.message-list {
    display: flex;
    flex-direction: column;
    gap: 10px; /* 메시지 간 간격 */
    /*    height: 600px;
        max-hegiht: 600px;*/
    max-height: 60vh; /* 화면 높이의 80%로 설정 */
    padding-left: 200px;
    padding-right: 200px;
    margin-bottom: 20px; /* 리스트 아래쪽에 여백 추가 */
    width: 100%; /* 부모 요소에 맞게 너비를 100%로 설정 */
    box-sizing: border-box; /* 패딩을 포함한 너비 계산 */
    overflow-y: auto; /* 세로 스크롤 가능하도록 설정 */
}

/* 모바일 최적화 */
@media (max-width: 768px) {
    .message-list {
        height: 410px; /* 높이를 420px로 설정 */
        max-height: 425px;
        padding: 10px; /* 모바일에서 패딩을 좀 더 줄여서 화면에 맞게 조정 */
    }
}

/* 작은 화면에 맞게 여백과 배경색을 조정 */
@media (max-width: 480px) {
    .message-list {
        height: 420px; /* 높이를 420px로 설정 */
        padding: 8px; /* 더 작은 화면에서는 패딩을 최소화 */
        gap: 8px; /* 작은 화면에서는 카드 간격을 줄입니다 */
    }
}